/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
  .nav-list{
    display: none;
  }
  .right-column .table-cell:nth-child(6) img{
  display: block;
  padding: 0;
  margin: 0;
  margin: auto;
  width: 77%;
  line-height: 24px;
  }
  .gallery-cell:nth-child(1) .slide-text{
    margin: 0;
    margin-left: 450px;
}
  .about-company .company-block{
    margin-top: 100px;
  }
  
  .about-production .production-info{
    padding: 0px 0px;
  }
  .about-production .production-info .section-text{
    padding: 15px;
    font-size: 16px;
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
  .nav-list{
    display: none;
    margin-top: 1px;
    padding: 0;
    width: 100%;
    position: absolute;
    z-index: 10;
  }
  .button-top-menu{
  display: block;
  position: absolute;
  right: 10px;
  }
  .nav-item{
    display: block;
    padding: 0;
    margin: 0;
    text-align: center;
    background-color: #dee3ee;
    border-bottom: 3px solid #c1c4ca;
  }
  .nav-link{
    line-height: 80px;
    margin: 0;
    color: #212942;
    font-size: 24px;
  }
  .active .nav-link{
    color: #dee3ee;
  }

  
  .footer-list{
    display: none;
  }
  .callback{
    margin: 0;
    padding: 0;
  }
  .row-text{
    font-size: 15px;
  }
  .img-wrapper{
    margin: 0;
    padding: 0;
  }
  .img-column{
    margin: 0;
    padding: 30px;
    margin: auto;
  }
  .img-item{
    width: 30%;
    margin:auto;
    display: inline-block;
    margin-right: 10px;
  }
  .left-column,.right-column ,.table-text{
    font-size: 14px;
  }
  .right-column .table-cell:nth-child(6){
    padding: 0;
    margin: 0;
  }
  .right-column .table-cell:nth-child(6) img{
  display: block;
  padding: 0;
  margin: 0;
  margin: auto;
  width: 77%;
  line-height: 24px;
  }
  .left-column .table-cell:nth-child(1){
    line-height: 68px;
  }
  .left-column .table-cell:nth-child(9){
    line-height: 68px;
  }
  .right-column .table-cell:nth-child(11){
  line-height: 34px;
}
  .about-equipment .img-block{
    margin-top: 30px;
  }
  
  .rawmats-info .section-text{
    padding: 0;
    margin: 0;
    margin-top:60px;
  }
  
  .about-production .production-info .block-title{
    font-size: 50px;
  }
  
  .about-production .production-info .section-text{
    margin: 0;
    padding: 60px;
    font-size: 22px;
  }
  .gallery-cell:nth-child(1) .slide-text{
  top:190px;
  margin-left: 350px;
}
  .gallery-cell:nth-child(2) .slide-text{
  top:190px;
  margin-left: 350px;
}
  .gallery-cell:nth-child(3) .slide-text{
  top:190px;
  margin-left: 350px;
}
}


/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .row-text{
    font-size: 14px;
    margin-bottom:5px
  }
  .row-icon{
    font-size: 18px;
  }
  .form-container{
    width: 75%;
  }
  .jar-img{
    max-width: 768px;
  }
  .company-block{
    margin: 0;
    padding: 0;
  }
  .img-column{
    margin: 0;
    padding: 0px;
}
  .about-equipment .img-column{
    padding: 30px;
  }
  .about-equipment .img-column .img-item{
    margin: auto;
    display: inline-block;
    margin-left: 10px;
    width: 30%;
  }
  .downloads-block .block-title{
    text-align: center;
  }
  .dealership .container{
    width: 90%;
  }
  .block-text span{
    width: 100%;
  }
  .discount-block .text-box{
    width: 90%;
  }
  .discount-block .download-links{
    width: 80%;
  }
  .jars .button{
    width: 80%;
  }
  .half-width .button{
    width: 80%;
  }
  .jar-img img{
    width: 80%;
  }
  .jar-tops .button{
    width: 80%;
  }
  .membrane .button{
    width: 80%;
  }
  .preform .button{
    width: 80%;
  }
  .gallery-cell:nth-child(1) .slide-text{
  top:190px;
  margin-left: 0px;
}
  .gallery-cell:nth-child(2) .slide-text{
  top:190px;
  margin-left: 0px;
}
  .gallery-cell:nth-child(3) .slide-text{
  top:190px;
  margin-left: 0px;
  }
  
  .about-production .production-info .section-text{
    padding: 10px;
    font-size: 14px;
  }
}
}


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
  
  .about-company .company-container .row .company-block{
    margin-top: 30px;
  }
  
  .about-production .production-info{
    padding: 10px 5px;
  }
  .about-production .production-info .block-title{
    font-size: 38px;
  }
  .about-production .production-info .section-text{
    padding: 0px;
  }
  
  .about-rawmats {
    
  }
  
  
  .logo img{
    width:80%;
  }
  .form-container{
    width: 100%;
  }
  .company-block{
    margin-right: 5px;
  }
 
  .title-box{
    width: 80%;
    top:45px;
  }
  .title-box .block-title{
    text-align: center;
    width: 100%;
  }
  .downloads-block .block-list{
    padding-top: 60px;
  }
  .downloads-block .block-list .block-item{
    display:block;
    margin:auto;
    margin-bottom: 20px;
  }

  .rawmats-info .section-text{
    font-size: 14px;
  }
  

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
  .logo img{
    width:80%;
  }
  .cell-text{
    font-size: 14px;
  }
  .form-button{
    font-size: 16px;
    margin-top: 15px;
  }


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  .nav-list{
    display: block !important;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  
}
 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  
}